<h2>パーチー新規登録</h2>
<% form_for :parchee, :url => {:action => 'confirm'} do |f| -%>
  <%= f.error_messages %>
<p>
  <label for="title">パーチー名</label>
  <%= f.text_field 'title', :maxlength => 25 %>
</p>

<p>
  <label for="content">詳細</label><br />
  <%= f.text_area 'content', :maxlength => 1000, :size => "30x3" %>
</p>

<p>
  <label for="right_now_flg"></label>
  <%= f.check_box 'right_now_flg' %>すぐ開催！
</p>

<p>
  <label for="date_y">日程</label>
  <%= f.select 'date_y', year_list %>/
  <%= f.select 'date_m', year_list %>/
  <%= f.select 'date_m', year_list %>
</p>

<p>
  <label for="date_h">時間</label>
  <%= f.select 'date_h', year_list %>:
  <%= f.select 'date_s', year_list %>
</p>

<%= f.submit '確認する' %> or <%= link_to "キャンセル", :action => :index %>
<% end -%>
